<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Moin Ahmed">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

    <title>PTD Details</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/vendor/main.css">

    <script>
            function getEpics(e){
                var domElement =$(event.target);
                ptd = domElement.attr('id')
                $('#issue_details_table').parent().hide();
                $("#epic_details").html("<tr><td><h2>Loading...</h2></td></tr>");
                $("#epic_details_table").show()
                // get all available boards
                $.get("/api/ptd/epics/"+ getCookie("team_key")+"/" + ptd, function(result){
                    $("#epic_details").html("");
                    if (result.length > 0){
                        $("#epic_details_table").show()
                        $.each(result, function() {
                            $("#epic_details").append("<tr><td><a href='#' id='"+this.epic_number+"' onclick='getIssues(this)'>"+this.epic_number+": "+this.epic_title+"</a> <span class='badge badge-"+this.epic_status_colour+"'>"+this.epic_status+"</span> </td></tr>");
                        });
                    } else {
                        $("#epic_details").html("<tr><td>No epic was found</td></tr>");
                    }
                });
            }
            function getIssues(e){
                var domElement =$(event.target);
                epic_number = domElement.attr('id')
                $("#issue_details").html("<tr><td colspan='4'><h2>Loading...</h2></td></tr>");
                $("#issue_details_table").parent().show()
                // get all available boards
                $.get("/api/epic_issues/"+ getCookie("team_key")+"/" + epic_number, function(result){

                    if (result.length > 0){
                        $("#issue_details").html("");
                        var total = 0;
                        var total_original_estimate = 0;
                        var total_aggregated_done = 0;
                        var total_none_estimated = "";
                        $.each(result, function() {
                            if(this.issue_number){
                                $("#issue_details").append("<tr><td data-toggle='tooltip' title='"+this.issue_status+"'><strong>"+this.issue_type+""+this.priority+"</strong>: <a href='{{url}}/browse/"+this.issue_number+"' target='_blank'>"+this.title+" ("+ this.issue_number +")</a></td><td class='bg-"+this.issue_colour+"' style='color: white;'> "+this.remaining_estimate+"</td><td>"+this.original_estimate+"</td><td>"+this.aggregated_done+"</td></tr>");
                                $.each(this.blocked_by_issues, function(){
                                    var strikeS = ""
                                    var strikeE = ""
                                    var t = "Is"
                                    if (this.blocked_by_issue_status == "Done"){
                                        strikeS = "<s>"
                                        strikeE = "</s>"
                                        t = "Was"
                                    }
                                    $("#issue_details").append("<tr><td colspan='3' data-toggle='tooltip' title='"+this.blocked_by_issue_status+"'>"+t+" blocked by: "+strikeS+this.blocked_by_issue_type+": <a href='{{url}}/browse/"+this.blocked_by_issue_number+"' target='_blank'>"+this.blocked_by_issue_title+" ("+this.blocked_by_issue_number+")</a>"+strikeE+"</td><td class='bg-"+this.blocked_by_issue_colour+"' style='color: white;'>&nbsp;</td></tr>");
                                })

                                if ($.isNumeric(this.remaining_estimate)){
                                    total = total+this.remaining_estimate
                                }
                                if ($.isNumeric(this.original_estimate)){
                                    total_original_estimate = total_original_estimate+this.original_estimate
                                }
                                if ($.isNumeric(this.aggregated_done)){
                                    total_aggregated_done = total_aggregated_done+this.aggregated_done
                                }
                            }
                            if(this.status_totals){
                                $("#issue_details").append("<tr style='border: 2pm white solid'><td colspan='4'>&nbsp;</td></tr><tr><th scope='col-8'>&nbsp;</th> <th scope='col'>Remaining Effort</th> <th scope='col'>Total Effort</th> <th scope='col'>Done</th></tr>");
                                $.each(this.status_totals, function(){
                                    if (this.status){
                                        $("#issue_details").append("<tr style='border-top: 2px black solid'><td>"+this.status+"</td><td class='bg-"+this.status_colour+"' style='color: white;'> "+this.total+"</td><td class='bg-"+this.status_colour+"' style='color: white;'>"+this.total_original_estimate+"</td><td>"+this.total_aggregated_done+"</td></tr>");
                                    }
                                })
                                
                                if(this.status_totals[this.status_totals.length-1].total_none_estimated){
                                    total_none_estimated = " with number of ticket not estimated: " + this.status_totals[this.status_totals.length-1].total_none_estimated;
                                }
                            }
                        });
                        
                        $("#issue_details").append("<tr style='border-top: 4px #004085 solid'><td>Total</td><td>"+total+total_none_estimated +"</td><td>"+total_original_estimate + "</td><td class='bg-success' style='color: white;'>"+total_aggregated_done+"</td></tr>");
                    } else {
                        $("#issue_details").html("<tr><td colspan='2'>No issue was found</td></tr>");
                    }
                });
            }
    </script>
</head>

<body>

            {% include 'include/nav.html' %}
            <h1 class="mt-4">PTD Details</h1>
            <!-- <div class="container"> -->
            <div class="row">
                <div class="col-3">

                    <input class="form-control" id="myInput" type="text" placeholder="Search..">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">PTD</th> 
                            </tr>
                        </thead>
                        <tbody id="ptd_table">
                            {% for ptd in ptds %}
                            <tr>
                                <td>
                                    <a href="#" id="{{ptd.ptd}}" onclick="getEpics(this);" class="ptds">
                                        {{ptd.ptd}}: {{ptd.ptd_title}}</a> <span class="badge badge-{{ptd.colour}}">{{ptd.ptd_status}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-9">
                    <table class="table table-bordered table-hover" id="epic_details_table">
                        <thead>
                            <tr>
                                <th scope="col">Epic</th> 
                            </tr>
                        </thead>
                        <tbody id="epic_details">

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm table-responsive" style="padding-top: 10px;border-top: 13px black double; padding-bottom: 10px;border-bottom: 13px black double; border-radius: 44px;">
                            <table class="table table-bordered table-hover w-auto table-sm" id="issue_details_table">
                                <thead>
                                    <tr>
                                        <th scope="col-8">Issue</th> 
                                        <th scope="col">Remaining Estimate</th> 
                                        <th scope="col">Total Estimate</th> 
                                        <th scope="col">Done</th> 
                                    </tr>
                                </thead>
                                <tbody id="issue_details">

                                </tbody>
                            </table>
                        </div>
                        <!-- TODO: show the status in pie chart -->
                    </div>
                </div>
            </div>

    {% include 'include/bottom-js.html' %}

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#ptd_table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $('#epic_details_table').hide();
            $('#issue_details_table').parent().hide();
        });
    </script>
</body>

</html>
